<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All trip details
    </h1>

    <a href="/trip_details/new" class="btn btn-block btn-outline-secondary">
      Add a new trip detail
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "trip_detail_templates/trip_details_search_form" %>
  </div>
</div>



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Trip
        </th>

        <th>
          Description
        </th>

        <th>
          Price
        </th>

        <th>
          Url
        </th>

        <th>
          Detail type
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @trip_details.each do |trip_detail| %>
      <tr>
        <td>
          <%= trip_detail.id %>
        </td>

        <td>
          <% if trip_detail.trip.present? %>
            <a href="/trips/<%= trip_detail.trip.id %>">
              <%= trip_detail.trip.name %>
            </a>
          <% end %>
        </td>

        <td>
          <%= trip_detail.description %>
        </td>

        <td>
          <%= trip_detail.price %>
        </td>

        <td>
          <%= trip_detail.url %>
        </td>

        <td>
          <%= trip_detail.detail_type_id %>
        </td>

        <td>
          <%= time_ago_in_words(trip_detail.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(trip_detail.updated_at) %> ago
        </td>

        <td>
          <a href="/trip_details/<%= trip_detail.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @trip_details, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
