<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All trip details
    </h1>

    <a href="/trip_details/new" class="btn btn-block btn-outline-secondary">
      Add a new trip detail
    </a>
  </div>
</div>

<!-- Ransack Code start -->

<!-- Ransack Code end -->

<!-- Location Map Code start -->

<!-- Location Map Code end -->

<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Trip
        </th>

        <th>
          Description
        </th>

        <th>
          Price
        </th>

        <th>
          Url
        </th>

        <th>
          Detail type
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @trip_details.each do |trip_detail| %>
      <tr>
        <!-- Display trip_detail.id start -->
        <td>
          <%= trip_detail.id %>
        </td>
        <!-- Display trip_detail.id end -->

        <!-- Display trip_detail.trip_id start -->
        <td>
          <% if trip_detail.trip.present? %>
            <a href="/trips/<%= trip_detail.trip.id %>">
              <%= trip_detail.trip.name %>
            </a>
          <% end %>
        </td>
        <!-- Display trip_detail.trip_id end -->

        <!-- Display trip_detail.description start -->
        <td>
          <%= trip_detail.description %>
        </td>
        <!-- Display trip_detail.description end -->

        <!-- Display trip_detail.price start -->
        <td>
          <%= trip_detail.price %>
        </td>
        <!-- Display trip_detail.price end -->

        <!-- Display trip_detail.url start -->
        <td>
          <%= trip_detail.url %>
        </td>
        <!-- Display trip_detail.url end -->

        <!-- Display trip_detail.detail_type_id start -->
        <td>
          <%= trip_detail.detail_type_id %>
        </td>
        <!-- Display trip_detail.detail_type_id end -->

        <!-- Display trip_detail.created_at start -->
        <td>
          <%= time_ago_in_words(trip_detail.created_at) %> ago
        </td>
        <!-- Display trip_detail.created_at end -->

        <!-- Display trip_detail.updated_at start -->
        <td>
          <%= time_ago_in_words(trip_detail.updated_at) %> ago
        </td>
        <!-- Display trip_detail.updated_at end -->

        <td>
          <a href="/trip_details/<%= trip_detail.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @trip_details, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
