<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Trip detail #<%= @trip_detail.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/trip_details" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/trip_details/<%= @trip_detail.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit trip detail
        </a>
      </div>

      <div class="col">
        <a href="/delete_trip_detail/<%= @trip_detail.id %>" class="btn btn-block btn-outline-secondary">
          Delete trip detail
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Trip
      </dt>
      <dd>
        <% if @trip_detail.trip.present? %>
          <a href="/trips/<%= @trip_detail.trip_id %>">
            <%= @trip_detail.trip.name %>
          </a>
        <% end %>
      </dd>

      <dt>
        Description
      </dt>
      <dd>
        <%= @trip_detail.description %>
      </dd>

      <dt>
        Price
      </dt>
      <dd>
        <%= @trip_detail.price %>
      </dd>

      <dt>
        Url
      </dt>
      <dd>
        <%= @trip_detail.url %>
      </dd>

      <dt>
        Detail type
      </dt>
      <dd>
        <%= @trip_detail.detail_type_id %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@trip_detail.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@trip_detail.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "trip_detail_templates/trip_detail_likes" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "trip_detail_templates/trip_detail_comments" %>
  </div>
</div>
