<!-- Validation failure messages -->
<% if @comment.errors.any? %>
  <% @comment.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit comment #<%= @comment.id %>
</h1>

<hr>

<!-- Form comment start -->
<form action="/update_comment/<%= @comment.id %>" method="post">
<!-- Form comment end -->

  <!-- Label and input for user_id start -->
  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <!-- Input for user_id start -->
    <input type="text" id="user_id" name="user_id" class="form-control" value="<%= @comment.user_id %>">
    <!-- Input for user_id end -->
  </div>
  <!-- Label and input for user_id end -->

  <!-- Label and input for body start -->
  <div class="form-group">
    <label for="body">
      Body
    </label>

    <!-- Input for body start -->
    <input type="text" id="body" name="body" class="form-control" value="<%= @comment.body %>">
    <!-- Input for body end -->
  </div>
  <!-- Label and input for body end -->

  <!-- Label and input for detail_id start -->
  <div class="form-group">
    <label for="detail_id">
      Detail
    </label>

    <!-- Input for detail_id start -->
    <input type="text" id="detail_id" name="detail_id" class="form-control" value="<%= @comment.detail_id %>">
    <!-- Input for detail_id end -->
  </div>
  <!-- Label and input for detail_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Update comment
  </button>
</form>

<hr>

<a href="/comments">
  Go back
</a>
