<form action="/create_trip_detail_from_trip" method="post">

  <input type="hidden" name="trip_id" value="<%= @trip.id %>">

  <div class="form-group">
    <label for="description">
      Description
    </label>

    <input type="text" id="description" name="description" class="form-control" value="<%= @trip_detail.description %>">
  </div>

  <div class="form-group">
    <label for="price">
      Price
    </label>

    <input type="text" id="price" name="price" class="form-control" value="<%= @trip_detail.price %>">
  </div>

  <div class="form-group">
    <label for="url">
      Url
    </label>

    <input type="text" id="url" name="url" class="form-control" value="<%= @trip_detail.url %>">
  </div>

  <div class="form-group">
    <label for="detail_type_id">
      Detail type
    </label>

    <input type="text" id="detail_type_id" name="detail_type_id" class="form-control" value="<%= @trip_detail.detail_type_id %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create trip detail
  </button>
</form>
